@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
}

.header{
  background-color: #1d1f25;
}

.card{
  background-color: rgb(23, 22, 22);
}
